/* Color vars */
$black:#000;
$white:#FCFAF5;
$font-color:#000;
$font-bold-color:#3D3C3A;
$grey-light:#CFCECA;

// Client colors

// Organic colors
$positive:#5aa253;
$negative:#e75858;
$informative:#1e88c5;
$warning:#e7a713;

/* border radius */
$r:4px;
$r-btn:6px;

/* Font family settings */
$font-standard: 'Arial', sans-serif;
$font-bold: sans-serif;