/* MAIN MIXIN FILE */


/* Media Query mixin */
@mixin mq($width, $type:'min') {
  @if($IE8 == false) {
    $width: $width / 16;
    @media all and (#{$type}-width: #{$width}em) {
      @content;
    }
  }
  @else
  {
    @if ($type == 'min' and $width <= 1200) {
      @content;
    }
  }
}

@mixin isRetina() {
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    @content;
  }
}

@mixin chrisCoyier() {
  &:after {
    display: block;
    content: '';
    width: 100%;
    clear: both;
  }
}

@mixin btn($btn-color) {
  //Layout
  display: block;
  margin: 0;
  border-radius: $r-btn;
  padding: 0.8em 3em;
  border: none;
  -webkit-appearance: none;

  //Typography
  font-family: $font-bold;
  font-size: 1.125em;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;

  //Color
  color: $white;
  text-shadow: 0 1px 0 rgba(shade($btn-color,80%),0.4);
  background: linear-gradient(to bottom, $btn-color 38%,shade($btn-color, 8%) 100%);
  box-shadow: inset 0 -1px tint($btn-color,2%), 0 1px rgba(shade($btn-color,50%),0.8), 0 -1px tint($btn-color,25%);
  transition: box-shadow 200ms ease;

  //Interaction
  cursor: pointer;
  outline: none;

  &.btn-compact {
    padding: 0.7em 0.8em;
    font-size: 0.9em;
  }

  &:hover {
    background: linear-gradient(to bottom, tint($btn-color,10%) 0%,tint($btn-color,5%) 100%);
    box-shadow: inset 0 -1px tint($btn-color,30%), 0 1px 2px rgba(shade($btn-color,80%),0.5), 0 -1px tint($btn-color,25%);
    text-shadow: 0 1px 0 rgba(tint($btn-color,80%),0.3);

    &[type=submit] {
    }
  }
}